
h1 {
    font-size: 4rem;
}
body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
}
header {
    background-color: salmon;
    text-align: center;
    height: 300px;
}

li {
    background-color: rgb(156, 151, 187);
    border: 3px solid salmon;
    float: left;
    margin: 0 20px;
    font-size: 2rem;
    
}
button{
    width: 100px;
    height:50px;
}
#enter {
    background-color: rgb(63, 212, 63);
    border: 3px solid green;


}
#btn1 {
    background-color: rgb(233, 250, 0);
    border: 3px solid rgb(225, 226, 166);
}
#msgInput {
    width: 400px;
    height: 100px;
}
#msgInput::placeholder{
    color: rgb(104, 101, 101);
    font-size:2rem;
    border-radius: 10%;
}
#userInput::placeholder {
    font-size: 1.5rem;
}
#userInput {
    width:250px;
    height:50px;
}

ul {
    
    width: 70%;
    margin: auto;
    height: 500px;
    width: 500px;
    list-style: none;
    text-align: center;
}
ul li button {
    margin: 50px
}